* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    background-color: rgb(193, 223, 223);
    height: 100vh;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;

}


.box {
    height: 400px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    flex-wrap: wrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 13px;


}

.box button {
    height: 120px;
    width: 120px;
    border-radius: 1rem;
    border: none;
    font-size: 90px;
    cursor: pointer;
    background-color: rgb(251, 252, 253);
    color: black;

}

.resetContainer {
    display: flex;
    justify-content: center;
}

#reset {
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 1rem;
    font-size: 30px;
    cursor: pointer;
    margin-top: 85%;



}